{% include "header.j2" %}

unit LeapfrogInterface;

interface

uses GBFixedArray;

{$ALIGN 8}
type
  LeapfrogOptions = record
  public
    projStartYear: Integer;
    projEndYear: Integer;
end;

{% for config in configs %}
{$ALIGN 8}
type
  Leapfrog{{ config.name }}Params = record
  private
    {% for name, cfg in config.pars.default.items() %}
    {{ to_lower_camel_case(name) }}: {{ get_delphi_ptr_type(cfg) }};
    {{ to_lower_camel_case(name) }}Length: Integer;
    {% endfor %}
  public
    {% for name, cfg in config.pars.default.items() %}
    procedure {{ get_delphi_setter(name, cfg) }}
    {% endfor %}
end;

{$ALIGN 8}
type
  Leapfrog{{ config.name }}State = record
  private
    {% for name, cfg in config.state.items() %}
    {{ to_lower_camel_case(name) }}: {{ get_delphi_ptr_type(cfg) }};
    {{ to_lower_camel_case(name) }}Length: Integer;
    {% endfor %}
  public
    {% for name, cfg in config.state.items() %}
    procedure {{ get_delphi_setter(name, cfg) }}
    {% endfor %}
end;

{% endfor %}
{$ALIGN 8}
type
  LeapfrogParams = record
  private
    {% for config in configs %}
    {{ config.name.lower() }}: ^Leapfrog{{ config.name }}Params;
    {% endfor %}
  public
    {% for config in configs %}
    procedure {{ get_delphi_param_setter(config.name) }}
    {% endfor %}
end;

{$ALIGN 8}
type
  LeapfrogState = record
  private
    {% for config in configs %}
    {{ config.name.lower() }}: ^Leapfrog{{ config.name }}State;
    {% endfor %}
  public
    {% for config in configs %}
    procedure {{ get_delphi_state_setter(config.name) }}
    {% endfor %}
end;

type TCallbackFunction = procedure(Msg: PAnsiChar); stdcall;

procedure LeapfrogRunDp(var params: LeapfrogParams; var opts: LeapfrogOptions; var outputState: LeapfrogState; errorHandler: TCallbackFunction); safecall; external 'leapfrog.dll' name 'run_dp';
procedure LeapfrogRunAim(var params: LeapfrogParams; var opts: LeapfrogOptions; var outputState: LeapfrogState; errorHandler: TCallbackFunction); safecall; external 'leapfrog.dll' name 'run_aim';
procedure LeapfrogRunDpSingleYear(var params: LeapfrogParams; var opts: LeapfrogOptions; var initial_state: LeapfrogState; start_year: Integer; var state: LeapfrogState; errorHandler: TCallbackFunction); safecall; external 'leapfrog.dll' name 'run_dp_single_year';
procedure LeapfrogRunAimSingleYear(var params: LeapfrogParams; var opts: LeapfrogOptions; var initial_state: LeapfrogState; start_year: Integer; var state: LeapfrogState; errorHandler: TCallbackFunction); safecall; external 'leapfrog.dll' name 'run_aim_single_year';

implementation

{% for config in configs %}
{% for name, cfg in config.pars.default.items() %}
procedure Leapfrog{{ config.name }}Params.{{ get_delphi_setter(name, cfg) }}
begin
  {{ to_lower_camel_case(name) }} := {{ get_delphi_ptr_type(cfg) }}(in{{ to_camel_case(name) }}.data);
  {{ to_lower_camel_case(name) }}Length := in{{ to_camel_case(name) }}.GetLength();
end;

{% endfor %}
{% for name, cfg in config.state.items() %}
procedure Leapfrog{{ config.name }}State.{{ get_delphi_setter(name, cfg) }}
begin
  {{ to_lower_camel_case(name) }} := {{ get_delphi_ptr_type(cfg) }}(in{{ to_camel_case(name) }}.data);
  {{ to_lower_camel_case(name) }}Length := in{{ to_camel_case(name) }}.GetLength();
end;

{% endfor %}
{% endfor %}
{% for config in configs %}
procedure LeapfrogParams.{{ get_delphi_param_setter(config.name) }}
begin
  {{ config.name.lower() }} := @{{ config.name.lower() }}Params;
end;

procedure LeapfrogState.{{ get_delphi_state_setter(config.name) }}
begin
  {{ config.name.lower() }} := @{{ config.name.lower() }}State;
end;

{% endfor %}
end.
